<div class="d-flex justify-content-end mt-4">
    
    <div class="btn-group me-2">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-file-excel"></i> Opciones Excel
        </button>
        <ul class="dropdown-menu">
            <li>
                <button type="submit" name="formato" value="excel" class="dropdown-item">
                    <i class="fas fa-download"></i> Guardar Excel
                </button>
            </li>
            <li>
                <button type="submit" name="formato" value="excel_imprimir" class="dropdown-item">
                    <i class="fas fa-print"></i> Imprimir Excel (Descargar)
                </button>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-file-pdf"></i> Opciones PDF
        </button>
        <ul class="dropdown-menu">
            <li>
                <button type="submit" name="formato" value="pdf" class="dropdown-item">
                    <i class="fas fa-download"></i> Guardar PDF
                </button>
            </li>
            <li>
                <button type="submit" name="formato" value="pdf_imprimir" class="dropdown-item">
                    <i class="fas fa-print"></i> Imprimir PDF (Web)
                </button>
            </li>
        </ul>
    </div>
</div>